<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>八里庄云动中心数据库编码统一系统</title>

    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/leaflet.css"/>
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="/js/layer/skin/layer.css" type="text/css"/>
    <link rel="stylesheet" href="/common/common.css"/>
    <link rel="stylesheet" href="/css/detail.css"/>
    <link rel="shortcut icon" href="/image/favicon.ico" />
</head>
<body>
<div class="top">
    <ul class="list-inline">
        {{#if role}}<li><a href="/getAllDatabasePage.do"><i></i>管理</a></li>{{/if}}
        <li><a href="javaScript:;"><i></i>{{username}}</a></li>
        <li><a href="/logout" class="logout"><i></i>退出</a></li>
    </ul>
    <a href='/' style="color: #fff;font-size: 27px;font-family: '黑体';padding-left: 25px;line-height: 54px;">八里庄云动中心数据库编码统一系统</a>
</div>
<div class="bread-nav">
    当前位置：<a href='/'>首页</a>{{#if manage}}{{else}} > <a href="{{author.href}}">{{author.name}}</a>{{/if}}
</div>
<div id="content" style="overflow: hidden;">
    {{{body}}}
    <table></table>
</div>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/leaflet/leaflet.js"></script>
<script src="/js/states.js"></script>
<script src="/js/layer/layer.js"></script>
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/tdtLayer.js"></script>
<script src="/js/00.js"></script>
{{{_sections.js}}}
</html>