<div class="clearfix">
    <div class="btn-group">
        <button id="sample_editable_1_new" class="btn green">添加<i class="icon-plus"></i>
        </button>
        <button class="btn" type="button" id="batch_del">批量删除</button>
    </div>
</div>
<table class="table table-striped table-hover table-bordered databaseType">
    <thead>
    <tr class="table-title">
        <th cond="delete_all"><input type="checkbox" id="select_all"/></th>
        <th cond="databaseType">数据库类型<span style="margin-left:10px"><i class="icon-chevron-up"></i></span></th>
        <th cond="databaseURL">默认连接地址<span style="margin-left:10px"><i class="icon-chevron-up"></i></span></th>
        <th>编辑</th>
        <th>删除</th>
    </tr>
    </thead>
    <tbody>
        {{#each DBType}}
            <tr>
                <td class='text-center'><input  type="checkbox" value={{id}}></td>
                <td class='text-center'>{{databaseType}}<input type="hidden" id={{id}} name="databaseTypeId"
                                                               value={{id}}></td>
                <td class='text-center'>{{databaseURL}}</td>
                <td class='text-center'>
                    <a class='edit' href='javascript:;'>编辑</a></td>
                <td class='text-center'>
                    <a class='delete' href='javascript:;'>删除</a></td>
            </tr>
            {{else}}
            <tr><td colspan='4' class='text-center'>暂无数据</td></tr>
        {{/each}}
    </tbody>
</table>
<input type="hidden" id="del" value="delSource"/>
<div class="pagination pagination-mini" style="float: right; margin-right: 30px; margin-bottom: 20px;">
    <div class="M-box" totalPage={{totalPage}} page={{page}}></div>
</div>
<!--START TABLR BACKGROUNDGREY-->
<div class="tablebg-grey"></div>
<!--END TABLR BACKGROUNDGREY-->
<!--START TABLR ADD MEW-->
<div class="add-new" style="display: none;">
    <h4>
        <i class="icon-edit"></i>添加数据库<img src="image/portlet-remove-icon-white.png"/>
    </h4>

    <form>
        <p class="input-text">
            <label>数据库类型</label><input type="text" id="databasetype" name="databasetype"><span>不能为空</span>
        </p>

        <p class="input-text">
            <label>连接地址</label><input type="text" id="databaseURL" name="databaseURL"><span>不能为空</span>
        </p>

        <p class="btn-form">
            <span><input type="button" value="保 存" id="save"> </span><span><input
                type="reset" class="page-link" value="保存并添加数据库"> </span>
        </p>
        <input type="hidden" name="flag" value="default"> <input
            type="hidden" name="target" value="self">
    </form>
</div>
<!--END TABLR ADD MEW-->

<!--START TABLR CHANGE-->
<div class="change-message" style="display: none;">
    <h4>
        <i class="icon-edit"></i>数据库编辑<img
            src="image/portlet-remove-icon-white.png">
    </h4>

    <form>
        <p class="input-text">
            <label>数据库类型</label><input readonly="true" id="databasetype1" type="text" name="newData"><span>不能为空</span>
        </p>

        <p class="input-text">
            <label>连接地址</label><input type="text" id="databaseURL1" name="newDatabaseURL"><span>不能为空</span>
        </p>

        <p class="btn-form">
            <input type="button" value="保 存" id="update_save">
            <input type="button" value="取 消" class="cancel">
        </p>
        <input type="hidden" name="flag" value="source">
        <input type="hidden" name="originalData" id="originalData">
        <input type="hidden" name="originalURL" id="originalURL">
    </form>
</div>
<!--END TABLR CHANGE-->
</div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>
<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
{{>common_js}}
<script src="js/jquery.pagination.js"></script>
<script src="js/database_cfg.js"></script>