<div class="clearfix">
    <div class="btn-group">
        <button id="add_dictionary_type" class="btn green">添加字典聚类<i class="icon-plus"></i>
        </button>
        <button class="btn" type="button" id="batch_del">批量删除</button>
    </div>
</div>
<table class="table table-striped table-hover table-bordered ConditionInfoByDictionaryType">
    <thead>
    <tr class="table-title">
        <th cond="delete_all"><input type="checkbox" id="select_all"/></th>
        <th cond="sourceType">业务场景
            <span style="margin-left:10px"><i class="icon-chevron-up"></i></span>
        </th>
        <th cond="typeName">字典聚类名称
            <span style="margin-left:10px"><i class="icon-chevron-up"></i></span>
        </th>
        <th>描述
        </th>
        <th>状态
        </th>
        <th>编辑</th>
        <th>删除</th>
    </tr>
    </thead>
    <tbody>
    {{#if dicType}}
        {{#each dicType}}
            <tr>
                <td class='text-center'><input  type="checkbox" value={{id}}></td>
                <td class='text-center' style='display: none'>{{id}}</td>
                <td class='text-center'>{{sourceType}}</td>
                <td class='text-center'>{{typeName}}</td>
                <td class='text-center'>{{desc}}</td>
                <td class='text-center'>
                    {{#if enable}}
                        开启
                        {{else}}
                        关闭
                    {{/if}}
                </td>
                <td style="display:none" class='text-center' id={{sourceTypeId}}>{{sourceTypeId}}</td>
                <td class='text-center'>
                    <a class='edit' href='javascript:;'>编辑</a>
                </td>
                <td class='text-center'><a class='delete' href='javascript:;'>删除</a></td>
            </tr>
        {{/each}}
    {{else}}
        <tr>
            <td colspan="7" class='text-center'>暂无数据</td>
        </tr>
    {{/if}}
    </tbody>
</table>
<input type="hidden" id="del" value="conditionType"/>
<div class="pagination pagination-mini" style="float: right; margin-right: 30px; margin-bottom: 20px;">
    <div class="M-box" totalPage={{totalPage}} page={{page}}></div>
</div>
<!--START TABLR BACKGROUNDGREY-->
<div class="tablebg-grey"></div>
<!--END TABLR BACKGROUNDGREY-->
<!--START TABLR ADD MEW-->
<div class="add_dictionary_type" style="display:none;">
    <h4>
        <i class="icon-edit"></i>添加字典聚类<img src="image/portlet-remove-icon-white.png">
    </h4>
    <form>
        <p class="input-text">
            <label>业务场景</label>
            <select class="dictionaryList" name="addSourceTypeId" id="addSourceTypeId">
                <option value ="0">请选择业务场景</option>
                    {{#each sourceType}}
                        <option value={{id}}>{{sourceType}}</option>
                    {{/each}}
                </select>
            </select>
        </p>
        <p class="input-text">
            <label>字典聚类名称</label>
            <input type="text" id="addTypeName" name="addTypeName" />
        </p>
        <p class="input-text">
            <label>描述</label><input type="text" id="addDesc" name="addDesc">
        </p>
        <p class="input-text">
            <label>是否启用</label>
            <select class="dictionaryList" name="addEnable" id="addEnable">
                <option value="1">启用</option>
                <option value="0">关闭</option>
            </select>
        </p>
        <p class="btn-form">
            <span><input type="button"  value="保 存" id="save"> </span>
            <span><input type="button" value="取消" class="cancel" id="cancel_add"> </span>
        </p>
    </form>
</div>
<!--END TABLR ADD MEW-->
<!--edit-->
<div class="add_dictionary" style="display:none;">
    <h4>
        <i class="icon-edit"></i>编辑字典聚类<img  src="image/portlet-remove-icon-white.png">
    </h4>
    <form>

        <p class="input-text">
            <label>业务场景</label>
            <select class="dictionaryList" name="sourceTypeId" id="sourceTypeId">
                <option value ="0">请选择业务场景</option>
                {{#each sourceType}}
                    <option value={{id}}>{{sourceType}}</option>
                {{/each}}
            </select>
        </p>

        <p class="input-text">
            <label>字典聚类名称</label>
            <input type="text" id="typeName" name="typeName" />
        </p>

        <p class="input-text">
            <label>描述</label>
            <input type="text" id="desc" name="desc"/>
        </p>

        <p class="input-text">
            <label>是否启用</label>
            <select class="dictionaryList" name="enable" id="enable">
                <option value="1">启用</option>
                <option value="0">关闭</option>
            </select>
        </p>
        <input type="hidden" id="conditionTypeId" name="id" value="" />
        <p class="btn-form">
            <span><input type="button" value="保 存" id="save_edit"> </span>
            <span><input type="button" value="取消" class="cancel" id="cancel_edit"> </span>
        </p>
    </form>
</div>

</div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>
<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
{{>common_js}}
<script src="js/jquery.pagination.js"></script>
<script src="js/dic_type.js"></script>